@model EmployeeApp.Models.Employee
@using EmployeeApp.Helpers;
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryNet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryNet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @{
                //Converts Model.Image to base64 string for display
                var helper = new ImageHelper();
                var imgSrc = helper.GetImage(Model.Image);
            }
            <img style='display:block; width:150px;height:auto;' src="@imgSrc" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
