@model PagedList.IPagedList<EmployeeApp.Models.Employee>
@using PagedList.Mvc;
@using System.Drawing;
@using EmployeeApp.Helpers;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{
    <p>
        Filter by first or last name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
    <table class="table" id="tableID">
        <tr>
            <th>
                @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm })
            </th>
            <th>
                @Html.ActionLink("Salary net", "Index", new { sortOrder = ViewBag.SalarySortParm })
            </th>
            <th>
                @Html.Label("SalaryGross")
            </th>
            <th>
                @Html.Label("Image")
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalaryNet)
                </td>
                @{
                    //
                    var SalHelper = new SalaryHelper();
                    var SalaryGross = SalHelper.GetGrossSalary(item.SalaryNet);
                }    
                <td>
                    @{/*Converting double to string and formating*/}
                    <p>@SalaryGross.ToString("F")</p>
                </td>
                @{
                    //Converts item.Image to base64 string
                    var helper = new ImageHelper();
                    var imgSrc = helper.GetImage(item.Image);
                }           
                <td>
                    <img style='display:block; width:200px;height:auto;' src="@imgSrc" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
                    }

    </table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))